<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<form name="f" method="post" action="/process_login">
    <label>
        <input th:type="hidden" th:name="_csrf" th:value="${_csrf.token}"/>
    </label>
    <label for="username">Введите логин</label>
    <input type="text" name="username" id="username">
    <br/>
    <label for="password">Введите пароль</label>
    <input type="password" name="password" id="password">
    <br/>
    <input type="submit" value="Login">

    <div th:if="${param.error}" style="color: red">
        Неверные логин или пароль
        <br/>
    </div>
</form>

</body>
</html>